@keyframes nameAnimation {
    0% {transform: translateY(-3px) translateX(1px);}
    50% {transform: translateY(3px) translateX(-1px);}
    100% {transform: translateY(-3px) translateX(1px);}
}
* {
    background-color: #132019;
    color: #ecdfe6;
    font-family: 'Courier New', Courier, monospace;
}
#header {
    align-items: center;
    display: grid;
    grid-template-rows: repeat(2, 32px) repeat(2, 16px) repeat(2, 32px);
    justify-content: center;
    text-align: center;
    text-shadow: 1px 1px 2px white;
}
#header #name h1 {
    animation: nameAnimation;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#header #screen-name p {
    animation: nameAnimation;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#tab-bar {
    align-items: center;
    display: grid;
    grid-template-rows: 24px repeat(2, auto);
    grid-template-columns: repeat(4, 128px);
    justify-content: center;
    text-align: center;
    text-shadow: 1px 1px 2px white;
}
#tab-bar button {
    border: none;
    font-size: 16px;
    text-decoration: underline;
    text-shadow: 1px 1px 2px white;
    transition-duration: 0.2s;
}
#tab-bar button:hover {
    transform: translateY(-2px);
}
#tab-bar .break {
    grid-column: 1 / 5;
}
#tab-bar #question {
    grid-column: 1 / 5;
}