@keyframes nameAnimation {
    0% {transform: translateY(-3px) translateX(1px);}
    50% {transform: translateY(3px) translateX(-1px);}
    100% {transform: translateY(-3px) translateX(1px);}
}
* {
    background-color: #132019;
    color: #ecdfe6;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px 2px white;
}
#header {
    align-items: center;
    display: grid;
    grid-template-rows: 48px 32px 24px 64px 48px;
    justify-content: center;
    text-align: center;
}
#header #name h1 {
    animation: nameAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#header #screen-name p {
    animation: nameAnimation;
    animation-duration: 5.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#tab-bar {
    align-items: center;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 128px);
    justify-content: center;
    text-align: center;
}
#tab-bar button {
    border-color: #ecdfe6;
    border-radius: 4px;
    box-shadow: 1px 1px 2px white;
    font-size: 16px;
    transition-duration: 0.2s;
    width: 100%;
}
#tab-bar button:hover {
    transform: translateY(-2px);
    cursor: pointer;
}
#tab-bar .active-tab button {
    background-color: #ecdfe6;
    color: #132019;
    font-weight: bold;
}
#tab-content-area {
    align-items: center;
    display: flex;
    justify-content: center;
}
#tab-content-area .tab-content {
    display: none;
}
#tab-content-area .active-tab-content {
    display: flex;
}
#tab-content-area .active-tab-content#projects {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 150px);
    width: 600px;
}
#cards {
    border: 2px solid #ecdfe6;
    border-radius: 8px;
    box-shadow: 1px 1px 2px white;
    display: inline-block;
    height: 100%;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
    width: 100%;
}
#cards:hover {
    transform: translateY(-5px);
}
.project-name {
    text-decoration: underline;
}